.idea
.DS_Store
*.egg
*.egg-info/
*.iml
*.ipr
*.iws
*.pyc
*.pyo
*.sublime-*
.cache/
.coverage
.env
.envrc
.gradle/
.idea/
.tox*
.venv*
/*/*pinned.txt
/*/MANIFEST
/*/activate
/*/build/
/*/config
/*/coverage.xml
/*/dist/
/*/htmlcov/
/*/product-spec.json
/build/
/config/
/dist/
/ligradle/
lnkd/
TEST-*.xml